body{
  background-color:#e6eff6;
  color:white;
}
.box{
  padding: 15% 20% 25% 20%;
}
.box-shdow{
  box-shadow: 10px 5px -15px -15px black;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1.5fr;
  gap: 0px 0px;
  grid-template-areas:
    "join join"
    "sign-up why-us";


}
.join {
  grid-area: join;
  background-color:#ffffff;
  border-radius: 10px 10px 0 0 ;
}
.sign-up {
  grid-area: sign-up;
  background-color:#2bb3b1;
  border-radius: 0 0 0 10px;
}
.why-us {
  grid-area: why-us;
  background-color:#4abebd;
  border-radius: 0 0 10px 0 ;
}

.capsolle{
  padding: 2% 8% 2% 8% ;
}

.hader{
  color: #1db5a6;
  font-size: 2rem;
}

.main{
  color: #bfce71;
  font-size: 1rem;
}

.contant{
  color:#9698a3;
  font-size: 1rem;

}

.per-month-title{
  color: #bae8e7;

}

.dollar{
  font-size: 2rem;
  color: white;
}
.btn{
  background:    #bfdf32;
border-radius: 5px;
box-shadow:    -5px 1px 15px -20px #444444;
padding:       20px 100px;
color:         #ffffff;
display:       inline-block;
font:          normal normal 27px/1 "Calibri", sans-serif;
text-align:    center;
}

@@media (min-width:700px) {
  .grid-container{
    display: flex;

  }
}
